<h1 class = "ms-2">Real time products</h1>
<div id="listado">
    {{!-- ESTO no va porque los productos se los pasas por socket no por la plantilla de HBS. los renderizas en el main.js
     --}}
    {{!-- {{#each products}}
        <div class=' d-flex flex-wrap col-md-3 mx-2 my-3 r' >                                 
                    <div class="card w-100 mt-5 border border-dark" >
                            <div class="card-header text-white bg-dark">
                                {{this.title}}
                            </div> 
                            <div class="card-body">
                                <img src= {{this.thumbnail}} alt= "Products img" class='card-img' >
                                
                                <br />
                                Price:  €  {{this.price}}  
                                <br />
                                Stock : {{this.stock}} 
                                <br />
                                <br />                
                                <button type="button" class="btn btn-outline-dark">Delete</button>
                            </div>                                                                                   
                    </div>
        </div>
    {{/each }} --}}
    </div>

    <div>
        <form  id= "formNewProduc" class=" row g-3 w-50 ms-3 ">
            <div class="col-auto ms-3 ">
                <label for="staticEmail2" class="visually-hidden"></label>
                <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Add new product">
            </div>
            <div class="col-auto d-flex flex-wrap mb-2  ">
                <label for="inputPassword2" class="visually-hidden">Password</label>
                <input type="text" class="form-control" name="title" placeholder="title">
                <input type="text" class="form-control" name ="description" placeholder="description">
                <input type="number" class="form-control" name="price" placeholder="price">
                <input type="text" class="form-control" name="thumbnail" placeholder="thumbnail">
                <input type="text" class="form-control" name="status" placeholder="status">
                <input type="text" class="form-control" name ="category" placeholder="category">
                <input type="text" class="form-control" name="code" placeholder="code">
                <input type="number" class="form-control" name="stock" placeholder="stock">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-outline-dark mb-3">Send new product</button>
            </div>
        </form>
    </div> 
</div>

{{!-- faltaria un form para eliminar producto --}}